#menu {
    display: none;
    position: fixed;
    background: #fff;
    color: #555;
    font-family: sans-serif;
    font-size: 11px;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    padding: 0px;
    border: 1px solid #C6C6C6;
}

#menu form {
    display: block;
    color: #555;
    text-decoration: none;
    padding: 6px 8px 6px 30px;
    width: 250px;
    position: relative;
}

#menu form label {
    height: 20px;
    font-size: 17px;
    width: 20px;
    position: absolute;
    left: 5px;
    top: 2px;
}

#menu form label img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#menu form span {
    color: #BCB1B3;
    float: right;
}

#menu form:hover {
    color: #fff;
    background: #3879D9;
}

#menu form input {
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #555;
    font-family: sans-serif;
    font-size: 11px;
    width: 100%;
    text-align: left;
}

#menu hr {
    border: 1px solid #EBEBEB;
    border-bottom: 0;
}
