{% extends "Cloud/base.html" %}
{% load static %}
{% block title %}
    {{ name|default:"ZaurCloud" }}
{% endblock title %}
{% block head_additional %}
    <script type="module" src="{% static 'Cloud/js/index.js' %}"></script>
{% endblock head_additional %}
{% block content %}
    {% include 'Cloud/grid.html' %}
    {% include "Cloud/drop_area.html" %}
{% endblock content %}
{% block body_additional %}
    {% include "Cloud/cloud/right_click_menu.html" %}
    {% include "Cloud/cloud/rename_modal.html" %}
{% endblock body_additional %}