<nav class="navbar navbar-expand-sm bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Cloud.index' %}" draggable="false">
            {% load static %}
            <img src="{% static 'Cloud/images/logo.png' %}" alt="Logo" width="30" height="30"
                 class="d-inline-block align-text-top" draggable="false">
            ZaurCloud
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <form id="searchbar" class="d-flex" role="search">
                        <input id="action-id" type="hidden" name="action" value="Search">
                        <input class="form-control me-2" type="search" placeholder="Search" name="name"
                               aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-success me-2" type="button"
                        {% if request.user.is_authenticated %}
                        onclick="window.location='{% url 'logout' %}';">Logout
                        {% else %}
                            onclick="window.location='{% url 'login' %}';">Login
                        {% endif %}
                </button>
            </form>
        </div>
    </div>
</nav>
