<nav class="navbar navbar-expand-sm bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Cloud.index' %}" draggable="false">
            {% load static %}
            <img src="{% static 'Cloud/images/logo.png' %}" alt="Logo" width="30" height="30"
                 class="d-inline-block align-text-top" draggable="false">
            ZaurCloud
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <form id="searchbar" class="d-flex" role="search">
                        <input id="action-id" type="hidden" name="action" value="Search">
                        <input class="form-control me-2" type="search" placeholder="Search" name="name"
                               aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success me-2">Выйти</button>
                </form>
                <a href="{% url 'account' %}" class="btn btn-outline-success me-2" role="button">
                    Аккаунт
                </a>
            {% else %}
                <form method="get" action="{% url 'login' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success me-2">Войти</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
