<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Unauthorized</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css' %}" />
  </head>
  <style>
    html,
    body {
      height: 100%;
    }
    
    body {
      display: flex;
      align-items: center;
      background-color: #fbfbfb;
    }
    
    .main-heading {
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.2;
      padding-bottom: 1.5rem !important;
      padding-top: 0.2rem !important;
      text-align: center !important;
    }
  </style>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow-sm">
            <div class="card-body">
              <p style="text-align: center">Please login to see this page.</p>
              <center>
                <a class="text-decoration-none ps-4" href="{% url 'login' %}?next={{ next }}">Login</a>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
