{% load static %}
<div class="d-flex flex-column">
    {% if errors %}
        <div id="errors" class="text-center" style="font-size: 10rem">
            {{ errors }}
        </div>
    {% else %}
        <div id="grid" class="grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 p-2">
            {% for object in pokemons %}
                <div class="col d-flex align-items-stretch mb-3">
                    <div class="card w-100" data-name="{{ object.name }}">
                        <img draggable="false"
                             src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ object.id }}.png"
                             class="card-img-top img-fluid img-thumbnail" alt="Pokemon">
                        <div class="card-body">
                            <h5 class="card-title">{{ object.name }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-between">
            <button id="prev-page" type="button"
                    class="btn {% if prev %}btn-primary{% else %}btn-secondary{% endif %} mx-4"
                    {% if not prev %}disabled{% endif %}
                    onclick="window.location.href = '{{ prev }}'">Предыдущая страница
            </button>
            <button id="next-page" type="button"
                    class="btn {% if next %}btn-primary{% else %}btn-secondary{% endif %} mx-4"
                    {% if not next %}disabled{% endif %}
                    onclick="window.location.href = '{{ next }}'">Следующая страница
            </button>
        </div>
    {% endif %}
</div>