<!doctype html>
<html lang="en" class="min-vh-100">
<head>
    <title>{{ name|default:"ZaurCloud" }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="module" src="{% static 'Cloud/js/index.js' %}"></script>
</head>

<body class="min-vh-100 d-flex flex-column h-100">
{% include "Cloud/nav.html" %}
<div class="d-flex flex-row container">
    {% include 'Cloud/sidebar.html' %}
    {% include 'Cloud/grid.html' %}
</div>
{% include "Cloud/right_click_menu.html" %}
{% include "Cloud/toast.html" %}
{% include "Cloud/rename_modal.html" %}
{% include "Cloud/properties_modal.html" %}
</body>
</html>
