{% extends "Cloud/base_generic.html" %}
{% block title %}{{ name|default:"ZaurCloud" }}{% endblock %}
{% block content %}
    {% load static %}
    <div class="container flex-grow-1" id="main_container">
        <div id="grid" data-url="{{ url }}" data-name="{{ name }}"
             class="grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
            {% for object in objects %}
                <div class="col d-flex align-items-stretch mb-3">
                    <div class="card" data-url="{{ object.get_rel_url }}"
                            {% if not object.IS_FILE %}
                         onclick="window.location='{{ object.get_absolute_url }}';"
                            {% endif %}>
                        <img src="{% static object.get_icon %}"
                             class="card-img-top img-fluid img-thumbnail" alt="object">
                        <div class="card-body">
                            <h5 class="card-title">{{ object.name }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "Cloud/right_click_menu.html" %}
{% endblock %}
