<div class="container-md">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                {% load static %}
                <img src="{% static 'Cloud/images/logo.png' %}" alt="Logo" width="30" height="30"
                     class="d-inline-block align-text-top">
                ZaurCloud
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-success me-2" type="button"
                            onclick="window.location='{% url 'logout' %}';">Logout
                    </button>
                </form>
            </div>
        </div>
    </nav>
</div>
