{% load static %}
<div id="menu">
    <form method="get" id="download_form">
        {% csrf_token %}
        <label for="download_submit">
            <img src="{% static 'Cloud/images/menu_icons/download.png' %}" alt="download"/>
        </label>
        <input type="hidden" name="url" value="" class="form_url">
        <input id="action_id" type="hidden" name="action" value="Download">
        <input id="download_submit" type="submit" value="Скачать"/>
    </form>
    <form method="post">
        {% csrf_token %}
        <label for="copy_submit">
            <img src="{% static 'Cloud/images/menu_icons/copy.png' %}" alt="copy"/>
        </label>
        <input type="hidden" name="url" value="" class="form_url">
        <input id="action_id" type="hidden" name="action" value="Copy">
        <input id="copy_submit" type="submit" value="Копировать"/>
    </form>
    <form method="post">
        {% csrf_token %}
        <label for="cut_submit">
            <img src="{% static 'Cloud/images/menu_icons/cut.png' %}" alt="cut"/>
        </label>
        <input type="hidden" name="url" value="" class="form_url">
        <input id="action_id" type="hidden" name="action" value="Cut">
        <input id="cut_submit" type="submit" value="Вырезать"/>
    </form>
    <form method="post">
        {% csrf_token %}
        <label for="paste_submit">
            <img src="{% static 'Cloud/images/menu_icons/paste.png' %}" alt="paste"/>
        </label>
        <input type="hidden" name="url" value="" class="form_url">
        <input id="action_id" type="hidden" name="action" value="Paste">
        <input id="paste_submit" type="submit" value="Вставить"/>
    </form>
    <form method="post" id="delete_form">
        {% csrf_token %}
        <label for="delete_submit">
            <img src="{% static 'Cloud/images/menu_icons/delete.png' %}" alt="delete"/>
        </label>
        <input type="hidden" name="url" value="" class="form_url">
        <input id="action_id" type="hidden" name="action" value="Delete">
        <input id="delete_submit" type="submit" value="Удалить"/>
    </form>
    <form method="post" id="rename">
        {% csrf_token %}
        <label for="rename_submit">
            <img src="{% static 'Cloud/images/menu_icons/rename.png' %}" alt="rename"/>
        </label>
        <input id="rename_submit" type="submit" value="Переименовать"/>
    </form>
    <form method="get" id="properties_form">
        {% csrf_token %}
        <label for="properties_submit">
            <img src="{% static 'Cloud/images/menu_icons/about.png' %}" alt="about"/>
        </label>
        <input type="hidden" name="url" value="" class="form_url">
        <input id="action_id" type="hidden" name="action" value="Properties">
        <input id="properties_submit" type="submit" value="Свойства"/>
    </form>
    <form method="post" id="create_directory_form">
        {% csrf_token %}
        <label for="create_directory_submit">
            <img src="{% static 'Cloud/images/menu_icons/folder.png' %}" alt="about"/>
        </label>
        <input type="hidden" name="url" value="" class="form_url">
        <input id="in_place_cb" type="checkbox" name="in_place" value="true" class="d-none">
        <input id="action_id" type="hidden" name="action" value="CreateDirectory">
        <input id="create_directory_submit" type="submit" value="Создать папку"/>
    </form>
</div>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Cloud/styles/menu.css' %}">
<script type="text/javascript" src="{% static 'Cloud/js/index.js' %}"></script>