{% load static %}
<div id="menu">
    <form method="get" id="download-form">
        {% csrf_token %}
        <label for="download-submit">
            <img src="{% static 'Cloud/images/menu_icons/download.png' %}" alt="download"/>
        </label>
        <input type="hidden" name="url" value="" class="form-url">
        <input id="action-id" type="hidden" name="action" value="Download">
        <input id="download-submit" type="submit" value="Скачать"/>
    </form>
    <form method="post">
        {% csrf_token %}
        <label for="copy-submit">
            <img src="{% static 'Cloud/images/menu_icons/copy.png' %}" alt="copy"/>
        </label>
        <input type="hidden" name="url" value="" class="form-url">
        <input id="action-id" type="hidden" name="action" value="Copy">
        <input id="copy-submit" type="submit" value="Копировать"/>
    </form>
    <form method="post">
        {% csrf_token %}
        <label for="cut-submit">
            <img src="{% static 'Cloud/images/menu_icons/cut.png' %}" alt="cut"/>
        </label>
        <input type="hidden" name="url" value="" class="form-url">
        <input id="action-id" type="hidden" name="action" value="Cut">
        <input id="cut-submit" type="submit" value="Вырезать"/>
    </form>
    <form method="post">
        {% csrf_token %}
        <label for="paste-submit">
            <img src="{% static 'Cloud/images/menu_icons/paste.png' %}" alt="paste"/>
        </label>
        <input type="hidden" name="url" value="" class="form-url">
        <input id="action-id" type="hidden" name="action" value="Paste">
        <input id="paste-submit" type="submit" value="Вставить"/>
    </form>
    <form method="post" id="delete-form">
        {% csrf_token %}
        <label for="delete-submit">
            <img src="{% static 'Cloud/images/menu_icons/delete.png' %}" alt="delete"/>
        </label>
        <input type="hidden" name="url" value="" class="form-url">
        <input id="action-id" type="hidden" name="action" value="Delete">
        <input id="delete-submit" type="submit" value="Удалить"/>
    </form>
    <form method="post" id="rename">
        {% csrf_token %}
        <label for="rename-submit">
            <img src="{% static 'Cloud/images/menu_icons/rename.png' %}" alt="rename"/>
        </label>
        <input id="rename-submit" type="submit" value="Переименовать"/>
    </form>
    <form method="get" id="properties-form">
        {% csrf_token %}
        <label for="properties-submit">
            <img src="{% static 'Cloud/images/menu_icons/about.png' %}" alt="about"/>
        </label>
        <input type="hidden" name="url" value="" class="form-url">
        <input id="action-id" type="hidden" name="action" value="Properties">
        <input id="properties-submit" type="submit" value="Свойства"/>
    </form>
    <form method="post" id="create-directory-form">
        {% csrf_token %}
        <label for="create-directory-submit">
            <img src="{% static 'Cloud/images/menu_icons/folder.png' %}" alt="about"/>
        </label>
        <input type="hidden" name="url" value="" class="form-url">
        <input id="in-place-cb" type="checkbox" name="in-place" value="true" class="d-none">
        <input id="action-id" type="hidden" name="action" value="CreateDirectory">
        <input id="create-directory-submit" type="submit" value="Создать папку"/>
    </form>
    <form method="post" id="add-to-favorite-form">
        {% csrf_token %}
        <label for="add-to-favorite-submit">
            <img src="{% static 'Cloud/images/menu_icons/star.png' %}" alt="star"/>
        </label>
        <input type="hidden" name="url" value="" class="form-url">
        <input id="action-id" type="hidden" name="action" value="AddFav">
        <input id="add-to-favorite-submit" type="submit" value="Добавить в избранное"/>
    </form>
</div>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Cloud/styles/menu.css' %}">