<!doctype html>
<html lang="en" class="min-vh-100">
<head>
    <title>{{ name|default:"Pokemons" }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="module" src="{% static 'Pokemons/js/battle.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'Pokemons/styles/battle.css' %}">
</head>

<body>
{% include "Cloud/nav.html" %}
<div class="container">
    <div class="row">
        <div class="col d-flex align-items-stretch mb-3">
            <div class="card w-100" data-name="{{ player.name }}">
                <img draggable="false" class="card-img-top img-fluid img-thumbnail" alt="Pokemon"
                     src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ player.id }}.png">
                <div class="card-body">
                    <progress id="player_hp" max="{{ player.hp }}" value="{{ player.hp }}" class="w-100"></progress>
                    <p class="card-text">HP/Attack/Defence: {{ player.hp }}/{{ player.attack }}/{{ player.defense }}</p>
                    <h5 class="card-title" id="player_name">{{ player.name }}</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <form method="post" id="result-form">
                {% csrf_token %}
                <input id="action-id" type="hidden" name="action" value="Result">
                <input type="hidden" name="player_pokemon" value="{{ player.name }}">
                <input type="hidden" name="opponent_pokemon" value="{{ opponent.name }}">
                <input type="hidden" name="result" class="battle_result" value="">
            </form>
            <form method="get" id="hit-form">
                {% csrf_token %}
                <input type="hidden" name="player_pokemon" id="player_pokemon" value="{{ player.to_json }}">
                <input type="hidden" name="opponent_pokemon" id="opponent_pokemon" value="{{ opponent.to_json }}">
                <label>
                    <input type="number" name="number" max="10" min="1" value="1" class="w-50 mx-auto">
                </label>
                <input id="action-id" type="hidden" name="action" value="Hit">
                <input id="hit-submit" type="submit" value="Ударить"/>
            </form>
            <div id="battle-log" class="d-flex flex-column align-items-center">

            </div>
            <form method="get" id="battle-form" style="display: none">
                {% csrf_token %}
                <label for="battle-submit">
                    <img id="battle-img" src="{% static 'Pokemons/images/battle_icon.png' %}" alt="battle"/>
                </label>
                <input type="hidden" name="name" value="{{ player.name }}">
                <input id="action-id" type="hidden" name="action" value="Battle">
                <input id="battle-submit" type="submit" value="Новый бой"/>
            </form>
            <form method="get" id="revenge-form" style="display: none">
                {% csrf_token %}
                <label for="revenge-submit">
                    <img src="{% static 'Pokemons/images/battle_icon.png' %}" alt="revenge"/>
                </label>
                <input id="action-id" type="hidden" name="action" value="Revenge">
                <input id="revenge-submit" type="submit" value="Взять реванш"/>
            </form>
            <form method="post" id="email-form" style="display: none">
                {% csrf_token %}
                <label for="email-submit">
                    <img src="{% static 'Pokemons/images/mail.png' %}" alt="email"/>
                </label>
                <input type="hidden" name="player_pokemon" value="{{ player.name }}">
                <input type="hidden" name="opponent_pokemon" value="{{ opponent.name }}">
                <input type="hidden" name="result" class="battle_result" value="">
                <input id="action-id" type="hidden" name="action" value="Email">
                <input id="email-submit" type="submit" value="Отправить на почту"/>
            </form>
        </div>
        <div class="col d-flex align-items-stretch mb-3">
            <div class="card w-100" data-name="{{ opponent.name }}">
                <img draggable="false" class="card-img-top img-fluid img-thumbnail" alt="Pokemon"
                     src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ opponent.id }}.png">
                <div class="card-body">
                    <progress id="opponent_hp" max="{{ opponent.hp }}" value="{{ opponent.hp }}"
                              class="w-100"></progress>
                    <p class="card-text">
                        HP/Attack/Defence: {{ opponent.hp }}/{{ opponent.attack }}/{{ opponent.defense }}</p>
                    <h5 class="card-title" id="opponent_name">{{ opponent.name }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "Cloud/toast.html" %}
</body>
</html>