{% load static %}
<div id="menu">
    <form method="get" id="properties-form">
        {% csrf_token %}
        <label for="properties-submit">
            <img src="{% static 'Cloud/images/menu_icons/about.png' %}" alt="about"/>
        </label>
        <input type="hidden" name="name" value="" class="form-name">
        <input id="action-id" type="hidden" name="action" value="Properties">
        <input id="properties-submit" type="submit" value="Свойства"/>
    </form>
    <form method="get" id="battle-form">
        {% csrf_token %}
        <label for="battle-submit">
            <img src="{% static 'Pokemons/images/fight.png' %}" alt="fight"/>
        </label>
        <input type="hidden" name="name" value="" class="form-name">
        <input id="action-id" type="hidden" name="action" value="Battle">
        <input id="battle-submit" type="submit" value="В бой"/>
    </form>
</div>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Cloud/styles/menu.css' %}">