{% extends "registration/auth_base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            {% if messages %}
                {% for message in messages %}
                    <strong>{{ message }}</strong>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <h1 class="main-heading">Reset password</h1>
    {% if form.errors %} {{ form.errors }} {% endif %}
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row mb-3">
            <label for="id_old_password" class="col-md-4 col-form-label text-md-end">Old password</label>
            <div class="col-md-6">
                <input type="password" class="form-control" name="old_password" autocomplete="current-password"
                       autofocus="" required=""
                       id="id_old_password">
            </div>
        </div>
        <hr>
        <div class="row mb-3">
            <label for="id_new_password1" class="col-md-4 col-form-label text-md-end">New password</label>
            <div class="col-md-6">
                <input type="password" class="form-control" name="new_password1" autocomplete="new-password"
                       required="" id="id_new_password1">
                <span class="form-text small text-muted"> The password must be 8-20 characters</span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="id_new_password2" class="col-md-4 col-form-label text-md-end">New password confirmation</label>
            <div class="col-md-6">
                <input type="password" class="form-control" name="new_password2" autocomplete="new-password"
                       required="" id="id_new_password2">
            </div>
        </div>
        <div class="row mb-0 mt-4">
            <div class="col-md-8 offset-md-4">
                <button type="submit" class="btn btn-primary py-1 px-4 " value="Change my password">
                    Change my password
                </button>
            </div>
        </div>
    </form>
{% endblock %}
